pip>=20.2.3
wheel>=0.35.1
twine>=3.2.0
black>=18.9b0
pytest>=6.1.0
pytest-cov>=2.10.1
coveralls>=2.1.2
tox>=3.20.0
packaging
pyperf
pre-commit
pydocstyle
pylint
isort
pycodestyle
doc8
mccabe
bandit
matplotlib
-r requirements_docs.txt
-r requirements_drawers.txt
-r requirements_opencv.txt
-r requirements_setup.txt
-r requirements_torch.txt
-r requirements_writers.txt
-r requirements_tqdm.txt
-r requirements_visualisation.txt

# full install