pip>=22.1.2
wheel>=0.35.1
twine>=3.2.0
black
pytest>=6.1.0
pytest-cov>=2.10.1
coveralls>=2.1.2
tox>=3.20.0
#packaging # ISSUES!
pyperf>=2.3.1
pre-commit>=2.19.0
pydocstyle
pylint
isort>=5.10.1
pycodestyle>=2.8.0
doc8
mccabe
flake8
bandit
matplotlib
-r ../requirements.txt
-r requirements_docs.txt
-r requirements_drawers.txt
-r requirements_opencv.txt
-r requirements_setup.txt
-r requirements_torch.txt
-r requirements_writers.txt
-r requirements_tqdm.txt
-r requirements_visualisation.txt
-r requirements_linux.txt

# full install